@mixin transition {
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        transition: all .2s #{$i * .1}s ease-in;
      }
    }
}

@keyframes mymove {
    from { 
        transform: translateX(-200px) ;
        opacity: 0;
    }
    to   { 
        transform: translateX(0) ;
        opacity: 1;
    }
  }

#my_take_101 {
    display: flex;
    height: 1px;
    min-height: 40px;
    font-size: 30px;;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: rgb(0, 130, 173);
    padding: 25px 35px 25px 20px;
    border-radius: 15px;
    border: 2px solid black;
    will-change: background-color, border;
    transition: background-color 250ms;
    position: relative;
    font-size: 20px;
    user-select: none;

    &:before {
        content: '';
        position: absolute;
        bottom: 8px;
        left: 15px;
        width: 85%;
        height: 3px;
        background-color: rgba(0, 0, 0, 0);
        transition: 1500ms;
    }

    span {
        color: rgba(0, 0, 0, 0);
        transition: linear 1500ms;
    }
    
    &:hover {
        span {
            color: rgb(0, 0, 0);
            transition: 300ms;
        }
        
        border: 2px solid rgb(0, 191, 255);
        background-color: rgb(0, 191, 255);

        &:before {
            background-color: rgb(0, 0, 0);
            transition: 300ms;
        }
    }
}

.my_take_101 {
    #card_container {
        border-radius: 23px;
        width: 315px;
        height: 632px;
        border: 7px solid #13175f;
        background-color: rgba(255, 255, 255, 0.43);

        #select_player_container {
            background-color: white;
            border-radius: 7px;
        }

        .player_image_container {
            height: 300px;
        }
        .player_image {
            display: block;
            position: relative;
            top: 0;
            left: 82px;
        }

        .player_team_logo_container {
            border: 5px solid #ffffff;
            box-shadow: 0 0 22px 0px #000000;
            left: 7%;
            top: 10%;
            z-index: 2;
            height: 90px;
            width: 90px;
        }

        .player_team_logo_element {
            top: -10px;
            left: -10px;
        }

        .player_name {
            color: white;
            background-color: #13175f;
            /* padding: 7px 10px; */
            padding: 12px;
            display: inline-block;
            width: auto;
            border-radius: 10px 10px 0 0;
            border-radius: 0 50px 0 0;
            font-size: 18px;
            position: absolute;
            top: -29px;
            padding-left: 32px;
            padding-right: 37px;
            left: -16px;
        }

        .player_details_container {
            background-color: #13175f;
        }

        & #card_content_container {
            border-radius: 22px;
        }

        .player_stats_container {
            position: relative;
            z-index: 2;

            .player_stats_row {
                transform: translateX(-100px);
                opacity: 0;
                z-index: 3;
                animation-name: mymove;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;

                &:nth-child(1) {
                    animation-delay: 200ms;
                }
                &:nth-child(2) {
                    animation-delay: 150ms;
                }
                &:nth-child(3) {
                    animation-delay: 100ms;
                }
                &:nth-child(4) {
                    animation-delay: 50ms;
                }
                &:nth-child(5) {
                    animation-delay: 0s;
                }
            }

            // rendering CSS issue
            &:before {
                content: '';
                height: 100px;
                width: calc(100% + 100px);
                position: absolute;
                bottom: -30px;
                left: -50px;
                background-color: #13175f;
                display: block;
                z-index: -1;
            }
        }
    }
}