/* BASE + RESETS */
*,
p, h1, h2, h3 {
    border: 0;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
div, section ,p ,h1 ,h2, h3, span {
  box-sizing: border-box;
}

html {
    padding: 0;
    background-color: green;
    background-image: url('assets/new_assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
}

body {
    background: linear-gradient(45deg, rgba(0,0,0,0.5) 10%, rgba(255,255,255,0.3) 100%);
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1px; // IE11
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    position: relative;
}

#card_container {
    width: 300px;
    height: 600px;
    position: relative;
    background-color: #f9f9f9;
    overflow: hidden;
}

#card_content_container {
    height: 100%;
    overflow: hidden;
}

#select_player_container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1px; // IE11
    min-height: 40px;
    margin: 5% 5% 0 5%;
    z-index: 999;
    cursor: pointer;
    background-color: #e6e6e6;

}