.player_details_container {
    position: relative;
    padding: 16px;
    height: 100%;
    background-color: rgb(237, 0, 78)
}

.player_image_container {
    position: relative;
    height: 250px;
    padding-top: 30px;
    padding-left: 7px;
}

.player_image {
    height: 100%;
}

.player_team_logo_container {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: 5%;
    bottom: -15%;
    z-index: 999;
}

.player_team_logo_element {
    position: relative;
    top: -7.5px;
    left: -7.5px;
    height: 100px;
    width: 100px;
    background-image: url('assets/assets/badges_sprite.png');
    background-size: auto;
    transform: scale(0.75);
    border-radius: 50%;
    
    &.Tottenham_Hotspur {
        background-position-x: -500px;
        background-position-y: -1000px;
    }
    
    &.Manchester_City {
        background-position-x: -800px;
        background-position-y: -700px;
    }
    
    &.Manchester_United {
        background-position-x: -600px;
        background-position-y: -800px;
    }
    
    &.Arsenal {
        background-position-x: -100px;
        background-position-y: -100px;
    }
    
    &.Leicester_City {
        background-position-x: 00px;
        background-position-y: 00px;
    }
}

.player_name {
    margin-bottom: 8px;
    color: white;
    font-size: 20px;
}
.player_type {
    margin-bottom: 12px;
    color: white;
    font-size: 16px;
    user-select: none;
}

.player_stats_container {
    .player_stats_row {
        height: 1px;
        min-height: 38px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        margin-bottom: 3px;
        background-color: #eaeaea;
        box-shadow: 0 0 1px 1px #8a8a8a;

        .player_stat_value {
            font-weight: bold;
            font-size: 18px;
        }

        &:nth-last-child() {
            margin-bottom: 0;
        }
    }

    

}