.player_image_container {
    height: 180px;
    padding-top: 30px;
}

.player_image {
    height: 100%;
}

.player_team_logo {
    background-image: url('assets/assets/badges_sprite.png');
    height: 50px;
    width: 50px;
}

.player_stats_row {
    height: 1px;
    min-height: 20px;
    display: flex;
    justify-content: space-between;
}